#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#include <input/processors.dtsi>

/*

   &mmv_input_listener {
       input-processors = <&zip_xy_scaler 2 1>;
   };

   &msc_input_listener {
       input-processors = <&zip_xy_scaler 2 1>;
   };

 */

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10

#define QTY 0
#define CMK 1
#define NUM 2
#define SYM 3
#define NAV 4
#define ADJ 5

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };
	hm: homerow_mods {
	    compatible = "zmk,behavior-hold-tap";
	    label = "homerow mods";
	    #binding-cells = <2>;
	    tapping_term_ms = <220>;
	    flavor = "balanced";
	    bindings = <&kp>, <&kp>;
	};
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
        tap-ms = <30>;
    };

    keymap {
        compatible = "zmk,keymap";

        qwerty_layer {
            display-name = "QWERTY";
            bindings = <
// -----------------------------------------------------------------------------------------
// | NO |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U  |  I  |  O  |  P  | NO |
// | NO |  A  |  S  |  D  |  F  |  G  |   |  H  |  J  |  K  |  L  |  ;  | NO |
// | NO |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M  |  ,  |  .  |  /  | NO |
//                  | ESC | TAB | SPC |   | ENT | DEL | BSP |
&none &kp Q      &kp W      &kp E        &kp R        &kp T                                 &kp UP               &kp Y       &kp U       &kp I        &kp O      &kp P          &none
&none &hm LGUI A &hm LALT S &hm LSHIFT D &hm LCTRL F  &kp G                        &kp LEFT &kp ENTER  &kp RIGHT &kp H       &hm RCTRL J &hm RSHIFT K &hm RALT L &hm RGUI SEMI  &none
&none &kp Z      &kp X      &kp C        &kp V        &kp B             &kp C_MUTE          &kp DOWN             &kp N       &kp M       &kp COMMA    &kp DOT    &kp FSLH       &none
                                &kp ESC      &lt NUM TAB  &lt NAV SPACE                                          &lt NAV RET &lt SYM DEL &kp BSPC
            >;
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };
        
        colemak_layer {
// -----------------------------------------------------------------------------------------
// | NO |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L  |  U  |  Y  |  ;  | NO |
// | NO |  A  |  R  |  S  |  T  |  G  |   |  M  |  N  |  E  |  I  |  O  | NO |
// | NO |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H  |  ,  |  .  |  /  | NO |
//                  | ESC | TAB | SPC |   | ENT | DEL | BSP |
            display-name = "COLMAK";
            bindings = <
&none &kp Q      &kp W      &kp F        &kp P        &kp B                                 &kp UP               &kp J       &kp L       &kp U        &kp Y      &kp SEMI   &none
&none &hm LGUI A &hm LALT R &hm LSHIFT S &hm LCTRL T  &kp G                        &kp LEFT &kp ENTER  &kp RIGHT &kp H       &hm RCTRL N &hm RSHIFT E &hm RALT I &hm RGUI O &none
&none &kp Z      &kp X      &kp C        &kp D        &kp V             &kp C_MUTE          &kp DOWN             &kp K       &kp H       &kp COMMA    &kp DOT    &kp FSLH   &none
                                &kp ESC      &lt NUM TAB  &lt NAV SPACE                                          &lt NAV RET &lt SYM DEL &kp BSPC
            >;
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        num_layer {
// -----------------------------------------------------------------------------------------
// | NO |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | NO |
// | NO | F1  | F2  | F3  | F4  | F5  |   | F6  | F7  | F8  | F9  | F10 | NO |
// | NO | KP1 | KP2 | KP3 | KP4 | KP5 |   | KP6 | KP7 | KP8 | KP9 | KP0 | NO |
//                  | F11 |trans|     |   |     | ADJ | F12 |
            display-name = "NUMBER";
            bindings = <
&none &kp N1    &kp N2     &kp N3    &kp N4    &kp N5                              &mmv MOVE_UP                   &kp N6    &kp N7     &kp N8    &kp N9    &kp N0    &none
&none &kp F1    &kp F2     &kp F3    &kp F4    &kp F5              &mmv MOVE_LEFT  &mkp LCLK      &mmv MOVE_RIGHT &kp F6    &kp F7     &kp F8    &kp F9    &kp F10   &none
&none &kp KP_N1 &kp KP_N2 &kp KP_N3 &kp KP_N4 &kp KP_N5 &mkp RCLK                 &mmv MOVE_DOWN                 &kp KP_N6 &kp KP_N7  &kp KP_N8 &kp KP_N9 &kp KP_N0 &none
                           &kp F11   &trans    &none                                                              &none     &mo ADJ    &kp F12
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        sym_layer {
// -----------------------------------------------------------------------------------------
// | NO |  !  |  ?  |  _  |  @  |  #  |   |  $  |  ^  |  ;  |  :  |  "  | NO |
// | NO |  `  |  <  |  [  |  {  |  (  |   |  )  |  }  |  ]  |  >  |  '  | NO |
// | NO |  =  |  +  |  -  |  *  |  /  |   |  \  |  %  |  &  | "|" |  ~  | NO |
            display-name = "SYMBOL";
            bindings = <
&none &kp EXCL  &kp QMARK &kp UNDER &kp AT   &kp HASH                           &mmv MOVE_UP                   &kp DLLR &kp CARET &kp SEMI &kp COLON &kp DQT   &none
&none &kp GRAVE &kp LT    &kp LBKT  &kp LBRC &kp LPAR            &mmv MOVE_LEFT &mkp LCLK      &mmv MOVE_RIGHT &kp RPAR &kp RBRC  &kp RBKT &kp GT    &kp APOS  &none
&none &kp EQUAL &kp PLUS  &kp MINUS &kp STAR &kp FSLH  &mkp RCLK                &mmv MOVE_DOWN                 &kp BSLH &kp PRCNT &kp AMPS &kp PIPE  &kp TILDE &none
                    	  &none     &mo ADJ  &none                                                             &none    &trans    &none
            >;
            sensor-bindings = <&scroll_encoder>;
        };
        
        nav_layer {
// -----------------------------------------------------------------------------------------
// | NO |     | mlk | mup | mrk  |      |   |  INS | PGUP |  UP  |  PGDN | DEL | NO |
// | NO |     | mlf | mdn | mrgt |      |   | HOME | LEFT | DOWN | RIGHT | END | NO |
// | NO |     |     |     |      |      |   |      |      |      |       |     | NO |
//                  |     | HANJ | trans|   | trans| HAEN |      |
            display-name= "NAVIG.";
            bindings = <
&none &none &mkp LCLK      &mmv MOVE_UP   &mkp RCLK       &none                           &mmv MOVE_UP              &kp INS  &kp PGUP         &kp UP    &kp PGDN   &kp DEL  &none
&none &none &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &none            &mmv MOVE_LEFT &mkp LCLK &mmv MOVE_RIGHT &kp HOME &kp LEFT         &kp DOWN  &kp RIGHT  &kp END  &none
&none &none &none          &none          &none           &none  &mkp RCLK                &mmv MOVE_DOWN            &none    &none            &none     &none      &none    &none
                           &none          &kp LANG_HANJA &trans                                                     &trans   &kp LANG_HANGEUL &none
                        >;
            sensor-bindings = <&scroll_encoder>;
        };

                adj_layer {
// -----------------------------------------------------------------------------------------
// | NO | BT1  | BT2 | BT3 | BT4  | BT5 |   |     |      |     |        |        | NO |
// | NO | BTCL | BTN | BTP |      |     |   |     |      |     |        |        | NO |
// | NO |      |     |     |      |     |   |     |      |     | COLMAK | QWERTY | NO |
//                   | RST | trans|     |   |     | trans|     |
            display-name= "ADJUST";
            bindings = <
&none &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4                          &mmv MOVE_UP              &none &none &none &none   &none   &none
&none &bt BT_CLR   &bt BT_NXT   &bt BT_PRV   &none        &none                  &mmv MOVE_LEFT &mkp LCLK &mmv MOVE_RIGHT &none &none &none &none   &none   &none
&none &bt BT_CLR   &none        &none        &none        &none        &mkp RCLK                &mmv MOVE_DOWN            &none &none &none &to CMK &to QTY &none
                                &sys_reset   &trans       &none                                                           &none &trans &soft_off
                        >;
            sensor-bindings = <&scroll_encoder>;
        };
    };
};
